li {
    list-style: none;
}

#recipe-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.recipe {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 364px;
    width: 380px;
    border-radius: 5px;
    background-color: $color-secondary;
    padding: 15px;

    &-photo {
        min-height: 178px;
        background-color: $color-primary;
        margin: -15px -15px 15px -15px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    &-header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-left: 15px;
        margin-right: 15px;
    }
    &-name{
        font-size: $recipe-header-text;
    }
    &-time{
        font-size: $recipe-header-text;
    }
    &-details {
        display: flex;
        margin-top: 20px;   

        .ingredients{
            width: 171px;
            font-family: $lato;
            font-size: $recipe-description-text;
            margin-left: 15px;
        }
    }
    &-ingredient{
        display: flex;
        flex-direction: column;
    }
    &-description {
        font-family: $roboto;
        font-size: $recipe-description-text;
        margin-left: 15px;
        width: 171px;
        height: 109px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.is-hidden {
    display: none;
}