.search {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 5px 5px 5px 5px;
  background-color: $color-secondary;
  &-form {
    width: 100%;
    height: 69px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
  }
  &-input {
    width: 100%;
    padding-left: 20px;
    background-color: transparent;
    outline: transparent;
    border: transparent;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 23px 15px 24px 22px;

    &::placeholder {
      color: black;
      font-size: $recipe-header-text;
      opacity: 0.25;
    }
  }
  &-button {
    width: 40px;
    background-color: transparent;
    border: transparent;
    color: black;
    font-size: 24px;
    padding-right: 10px;
  }
}