.tags {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    align-items    : stretch;
    justify-content: flex-start;
    margin-top     : 10px;
    .tag {
        display      : flex;
        align-items  : center;
        width        : auto;
        height       : 40px;
        font-family  : "Lato-Regular", Arial, Verdana, sans-serif;
        font-size    : $recipe-description-text;
        border       : none;
        color        : white;
        border-radius: 5px;
        margin       : 0 0 5px 0;
    }
    .label {
        width: 100%;
        margin-right: auto;
    }
 }

.inner-tag {
    margin        : 0 5px 5px 0;
    padding-left  : 10px;
    text-transform: capitalize;
    border-radius : 5px;
}

#ingredient-tag .inner-tag {
    background-color: $color-primary-filter;
  }
  
#device-tag .inner-tag {
    background-color: $color-secondary-filter;
}
  
#tool-tag .inner-tag {
    background-color: $color-tertiary-filter;
}

.close-tag {
    padding-left: 2px;
}
  
.tag-box {
    margin: 5px;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}
  
.tag-ingredient {
    background: $color-primary-filter;
}
  
.tag-appliances {
    background: $color-secondary-filter;
}
  
.tag-ustensils {
    background: $color-tertiary-filter;
}