.tagContainer {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    align-items    : stretch;
    justify-content: flex-start;
    margin-top     : 10px;
    .tag {
        display      : flex;
        align-items  : center;
        width        : auto;
        height       : 40px;
        font-family  : "Lato-Regular", Arial, Verdana, sans-serif;
        font-size    : $recipe-description-text;
        border       : none;
        color        : white;
        border-radius: 5px;
        margin       : 0 0 5px 0;
    }
    .label {
        width: 100%;
        margin-right: auto;
    }
 }

.close-btn {
    margin-left: 5px;
    font-size: $recipe-header-text;
    align-self: center;
}

.tag-box {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}
  
.tag-ingredients {
    background: $color-primary-filter;
    color: white;
}
  
.tag-appliance {
    background: $color-secondary-filter;
    color: white;
}
  
.tag-ustensils {
    background: $color-tertiary-filter;
    color: white;
}