@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@100;300;400;700&display=swap');
$roboto: 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;

$color-primary: #C7BEBE;
$color-secondary: #E7E7E7;
$color-primary-filter: #3282F7;
$color-secondary-filter: #68D9A4;
$color-tertiary-filter: #ED6454;

$recipe-header-text: 18px;
$recipe-description-text: 12px;